<!DOCTYPE html>
{% load i18n %}
{% load sekizai_tags %}
{% load consensus %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">
{% load staticfiles %}
{% block css %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-tourbus/jquery-tourbus.css' %}" rel="stylesheet">
    <link href="{% static 'consensus/css/custom.css' %}" rel="stylesheet">
{% endblock css %}
  </head>
  <body>

  <div class="wrapper">

{% block sidebar %}
{% endblock sidebar %}

    <div class="container">
    <header>
{% block nav %}
      <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <button id="sidebarCollapse" class="btn navbar-btn" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand pl-4" href="{% url 'consensus_base:index' %}">
        {% if logo_url %}
            <img class="logo" alt="logo" src="{{ logo_url }}"></a>
        {% else %}
            Consensus
        {% endif %}</a>
        <p id="navbar-message-save" class="navbar-message"></p>
        <p id="navbar-message-action" class="navbar-message"></p>
      </nav>
{% endblock nav %}
    </header>

{% block content %}
{% endblock content %}

    <footer class="footer">
        <p class="text-center"> Consensus - <a href="mailto:info@gvatas.in">info@gvatas.in</a></p>
    </footer>

{% render_block "tour" %}

{% block bootstrap-js %}
    <script src="{% static 'jquery/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'popper-js/js/popper-1.11.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery-tourbus/jquery-tourbus.js' %}"></script>
    <script src="{% static 'consensus/js/core.js' %}"></script>
{% endblock bootstrap-js %}

    <script>
$.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results == null) {
      return 0
    }
    return results[1] || 0;
}


$(document).ready(function(){
    if ($.urlParam('tour') == 1) {
        launch_tour(tour);
    }

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });
});


{% render_block "tour-js" %}
{% render_block "js" %}
    </script>

    </div>
  </div> <!-- wrapper -->
  </body>
</html>
