{% extends "consensus_base/base_dashboard.html" %}
{% load i18n %}
{% load sekizai_tags %}
{% load consensus %}
{% block title %}Consensus - Polls{% endblock %}

{% block main-h1 %}
{% trans 'Poll:' %} {{ poll.title }}
- [<a href="{% url 'consensus_base:poll' poll.slug %}">{% trans 'view' %}</a>]
- [<a href="{% url 'consensus_base:poll_edit' poll.slug %}">{% trans 'edit' %}</a>]
{% endblock main-h1 %}

{% block main %}

<div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>
<hr/>
<div>
<table class="table table-hover table-sm">
<thead>
<tr>
<th scope="col">{% trans 'Username' %}</th>
<th scope="col">{% trans 'is Admin' %}</th>
<th scope="col">{% trans 'Pending questions' %}</th>
<th scope="col"></th>
</tr>
</thead>
<tbody>

{% for p in participants %}
<tr>
<td scope="row">{{ p.username }}</td>
<td scope="row">{% if p.poll|ispolladmin:p.username %}yes{% else %}no{% endif %}</td>
<td scope="row">{{ p.poll|pendingquestions:p.username }}</td>
<td scope="row">
    {% if p.poll|ispolladmin:p.username %}
    <a class="btn-sm btn-secondary" href="{% url 'consensus_base:poll_action' poll.uuid.hex "revoke_admin" %}?next_page={{ request.path }}&username={{ p.username }}">{% trans 'revoke admin privileges' %}</a>
    {% else %}
    <a class="btn-sm btn-light" href="{% url 'consensus_base:poll_action' poll.uuid.hex "grant_admin" %}?next_page={{ request.path }}&username={{ p.username }}">{% trans 'grant admin privileges' %}</a>
    {% endif %}<br/>
    <a class="btn-sm btn-link" href="{% url 'consensus_base:poll_action' poll.uuid.hex "remove" %}?next_page={{ request.path }}&username={{ p.username }}">{% trans 'remove participant' %}</a>
</td>
</tr>
{% endfor %}

</tbody>
</table>

{% endblock main %}
</div>
