{% extends "consensus_base/base_dashboard.html" %}
{% load i18n %}
{% load consensus %}
{% block title %}Consensus{% endblock %}

{% block main-h1 %}
{% trans 'Polls' %}
<a class="btn btn-default" href="{% url 'consensus_base:poll_create' %}">{% trans 'New' %}</a>
{% endblock main-h1 %}

{% block main %}

<!-- Begin web polls section -->
<table class="table table-hover">
<thead>
<tr>
<th scope="col">{% trans 'Title' %}</th>
<th scope="col">{% trans 'Creator' %}</th>
<th scope="col">{% trans 'Published' %}</th>
<th scope="col">{% trans 'Locked' %}</th>
<th scope="col">{% trans 'Questions' %}</th>
<th scope="col">{% trans 'Participants' %}</th>
<th scope="col">{% trans 'Pending votes' %}</th>
<th scope="col"></th>
</tr>
</thead>
<tbody>

{% for i in paginated_items %}
<tr>
<td scope="row"><a href="{% url 'consensus_base:poll' i.slug %}">{{ i.title }}</a></td>
<td scope="row">{{ i.creator }}</td>
<td scope="row">{% if i.published %}yes{% else %}no{% endif %}</td>
<td scope="row">{% if i.locked %}yes{% else %}no{% endif %}</td>
<td scope="row">{{ i|totalquestions }}</td>
<td scope="row">{{ i|numofparticipants }}</td>
<td scope="row">{{ i|numofpendingvotes }}</td>
<td scope="row">{% if i|ispolladmin:request.user.username %}
    <a class="btn-xs btn-link" href="{% url 'consensus_base:poll_settings' i.slug %}">{% trans 'settings' %}</a><br/>
    <a class="btn-xs btn-link" href="{% url 'consensus_base:poll_edit' i.slug %}">{% trans 'edit' %}</a><br/>
    {% if i.locked %}
    <a class="btn-xs btn-link" href="{% url 'consensus_base:poll_action' i.uuid.hex 'unlock' %}">{% trans 'unlock' %}</a>
    {% else %}
    <a class="btn-xs btn-link" href="{% url 'consensus_base:poll_action' i.uuid.hex 'lock' %}">{% trans 'lock' %}</a>
    {% endif %}<br/>
    {% if i.published %}
    <a class="btn-xs btn-link" href="{% url 'consensus_base:poll_action' i.uuid.hex 'unpublish' %}">{% trans 'unpublish' %}</a>
    {% else %}
    <a class="btn-xs btn-link" href="{% url 'consensus_base:poll_action' i.uuid.hex 'publish' %}">{% trans 'publish' %}</a>
    {% endif %}<br/>
 
    <a class="btn-xs btn-link" href="{% url 'consensus_base:poll_delete' i.slug %}">{% trans 'delete' %}</a>
{% endif %}</td>
</tr>
{% endfor %}

</tbody>
</table>

{% include "consensus_base/paginator.html" %}
<!-- End web {{ web.name }} section -->

{% endblock main %}
